
body
{
    background-color: #7B10B0;
}
.titulo
{
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    margin-top: 2%;
}
main
{
    margin: auto;
    width: 100%;
    height: 30%;
}
.forma_1
{
    margin: auto;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    background-color: aliceblue;
    padding-bottom:100px;
    border-radius: 50px;
}
.forma_1 input   
{
    border-radius: 10px;
    padding-top:10px;
    text-align: center;
    border-color: #19B065;
    color: black;
    margin-bottom: 12px;
}
.forma_1 h2 
{
    color: black;
    text-align: center;
    font-family: arial,sans-serif;
    font-size:22px;
}
.forma_1 button
{
    border-radius: 10px;
    font-size: 20px;
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.forma_1 button:hover
{
    background-color: green;
}
.box-fotter
{
    margin: auto;
    text-align: center;
}
